section.reserve-now-bottom
  .container
    .row
      .col-md-6
        img#back-exploded.full-width(src="img/side-ports-cropped.jpg")
      .col-md-6.text-left
        h1.emerald Reserve now to receive pre-launch pricing.
        h3 $299 USD (retail $399)
          br
          br
          small
            i You will not be charged for reserving.
              br
              | Does not include tax or shipping fees.
        button.btn.btn-reserve2.btn-danger.btn-lg.navbar-btn Reserve
