sections#specs.specifications
  .container
    .col-md-6
      img.full-width(src="/img/module-spread.png")
    .col-md-6.col-sm-12.text-left
      h1.blue.text-left Specifications
      .text-container
        .row
          .col-md-6.col-sm-6.col-xs-6
            h2 Display
            p
              | 8.9 inch
              br
              | Resolution: 2560 x 1600
            h2 Storage
            p 24GB
            h2 Processor
            p 1.5 GHz Quad Core 
            h2 Memory
            p 2GB
            h2 Size &#38; Weight
            p
              | Height: 188.5mm
              br
              | Width: 264.5mm
              br
              | Length: 245mm
              br
              | Thickness: 40.8mm
              br
              | Weight: 1.5kg
          .col-md-6.col-sm-6.col-xs-6
            h2 Camera
            p 2MP Front &#38; 5MP Rear 
            h2 Audio
            p Dual Mode Audio In/Out (External) 
            h2 Touch Technology
            p Multitouch Capacitive
            h2 Operating System
            p
              | Android Lollipop
              br
              | Windows &#38; Linux Coming Soon
            h2 Battery &#38; Power
              p
                | Up to 8 hours usage
                br
                | USB-C Connector
