doctype html
html
  head
    include _meta.jade
    
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/index.css')
    link(rel='stylesheet', href='css/respond.css')
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/font-awesome.css')
    link(rel='stylesheet', href='css/animate.css')
    
    script(src='//cdn.optimizely.com/js/3181391036.js')
    script(src='js/jquery-1.11.3.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/viewportchecker.js')
    script(src='js/introduction.js')
    script(src='js/share.js')
    script(src='js/email.js')
  body
    include _navigation.jade
    include _emailbar.jade
    
    section.introducing
      h1 Introducing the Infinity
      img.full-width(src="img/open-front.jpg")
      .container
        h1.sr-only
        p.lead
          | A digital platform for any child, that any child can assemble.
          br
          | A long life device that outlasts a childhood.
          br
          | The freedom to choose when, how and what you upgrade.
        .feature
          h2.blue Modular
          p Upgrade your way.
        .feature
          h2.cerise-red Robust
          p Play without worry.
        .feature
          h2.emerald Green
          p Reduce e-waste and donate.
          
    section.be-happy
      #be-happy-parallax.parallax-container
        img.invisible.full-width(src="img/dont-worry-be-happy.jpg")
      .container.text-container
        h1 Don't Worry. Be Happy.
        p.lead
          | Designed for kids, the Infinity has been made to withstand accidental drops and more vigorous play sessions.
          | Each module is housed in a resilient casing that's tough enough to take a beating.
    
    section.all-you-need
      .container-fluid
        .row
          .col-md-6
            img#frontexploded.full-width(src="img/tablet-front-exploded.jpg")
          .col-md-6
            img#backexploded.full-width(src="img/tablet-back-exploded.jpg")
      .clearfix
      .container.text-container
        h1 Build a powerful experience.
        p.lead
          | With an innovative modular design, we place the future in the hands of your children. An Infinity shell holds four distinct pieces that define the device. When you can choose the pieces you want, putting together the perfect experience is a snap.
    
    section.changing-definition
      img.full-width.feature-width.img-close-up(src="img/screen-close-up.jpg")
      .container.text-container
        h1 Changing the definition.
        p
          | Infinity touch screens start at true HD on a crystal clear 8.9" screen. Colours pop with vivid accuracy, and inky blacks provide the contrast your child needs to truly explore and create digital media.
    
    section.touch-type
      img.img-keyboard.feature-width.full-width(src="img/keyboard.jpg")
      .container.text-container
        h1 Touch. Type.
        p
          | We know from experience just how important it is to remove barriers to a child's self expression. Younger children want to reach out and touch, while an older student needs the ability to enter information quickly and accurately. No matter what your child needs to do, they can do it the way that suits them best.
        .container-fluid
          .row.fillated-keys
            .col-md-6.col-sm-12
              h1.sr-only
              img.full-width.paragraph(src="img/filleted-key-diagram.png")
            .col-md-6.col-sm-12
              h1.sr-only
              p
                | A unique filleted design means that keys can't be accidentally or mischievously removed, creating a safer keyboard.
    
    section.specs
      img#side-ports.background-image(src="img/side-ports-2.jpg")
      .container-fluid.text-container.inner-block
        .row
          .col-md-5.col-sm-12.col-xs-12
            img.icon.full-width(src="img/usb-icon.png")
          .col-md-6.col-sm-12.col-xs-12
            h2 USB-C
            p Future ready
        .row
          .col-md-5.col-sm-12.col-xs-12
            img.icon.full-width(src="img/lightning-icon.png")
          .col-md-6.col-sm-12.col-xs-12
            h2 Power
            p Charge via USB-C
        .row
          .col-md-5.col-sm-12.col-xs-12
            img.icon.full-width(src="img/data-icon.png")
          .col-md-6.col-sm-12.col-xs-12
            h2 Data
            p Up to USB 3.0 speeds
    
    section.sailing-c
      .container.text-container
        h1 Sailing the open C
        p.lead
          | Every module on the Infinity is connected via a hyper fast reversible USB Type-C connector. Charging, data and video happen simultaneously via the future of USB - nothing could be simpler to put together.
    
    section.learn-play
      #battery-framed.parallax-container
        img.invisible.full-width(src="img/battery-close-up-framed.jpg")
      .container
        .text-container
          h1
            | Learn and play.
            br
            | All day, every day.
          p
            | Whether your child is at home or in the classroom, there's no reason they should have to stop what they're doing just to recharge. With a huge battery your Infinity will always be ready for learning or play.
        img.full-width.img-power-rack(src="img/power-rack.jpg")
        .text-container
          h1.sr-only
          p
            | Power up together. Up to ten Infinity devices can be charged simultaneously on a single power rack. Whether bringing an Infinity from home or keeping it at school, everyone can charge together.
    
    section.connect
      img.background-image(src="img/four-colours-2.jpg")
      .container.text-container.inner-block
        img.icon-image.center-block(src="img/wifi-icon.png")
        h1 Connect to the world.
        p.lead
          | Everything is moving online. If the Internet is the ultimate tool box for learning, then your child's Infinity is the key to unlocking that toolbox. Blazing fast WiFi and Bluetooth will ensure they can connect to everybody, wherever you are.
        img.icon-image.center-block(src="img/bluetooth-icon.png")
    
    section.software
      #icon-bar.parallax-container
        img.invisible.full-width(src="img/icon-bar-1000h.jpg")
      .container.text-container
        h1
          | Software shouldn't be
          br
          | hard-ware.
        p
          | After spending years observing teachers and children using technology in classroms we applied that knowledge to our software. Each Infinity Core Module comes with a custom Android OS, that has been tweaked to ensure that connecting to the Internet and navigating apps is as simple as possible.
    
    section.accidents-happen
      .container
        img.full-width(src="img/cover.jpg")
        .text-container
          h1
            | Accidents happen.
            br
            | No worries.
          p
            | The beauty of modularity is that if a part breaks, you only need to replace that part - at a fraction of the cost of the entire device. Even so, it's better when things don't break. That's why we've wrapped the entire device in a ruggedised protective cover.
    
    section.byo-stick
      #adapter-framed.parallax-container
        img.invisible.full-width(src="img/adapter-framed.jpg")
      .container.text-container
        h1 Bring your own stick.
        p
          | Got a Rasberry Pi? Plug it in. How about a Chromebit? No problem. We understand that you may already own a tiny computer that you love. Why should we get in the way of love? If your hardware supports HDMI and USB, then the Infinity Core Adaptor supports your hardware.
    
    section.dont-waste
      .container.container-fluid
        .row
          .col-md-4.col-sm-4.col-xs-6
            img.full-width(src="img/modules-1.jpg")
          .col-md-4.col-sm-4.col-xs-6
            img.full-width(src="img/modules-3.jpg")
          .col-md-4.col-sm-4.col-xs-6
            img.full-width(src="img/modules-2.jpg")
          .col-md-4.col-sm-4.col-xs-6
            img.full-width(src="img/modules-4.jpg")
          .col-md-4.col-sm-4.col-xs-6
            img.full-width(src="img/modules-5.jpg")
          .col-md-4.col-sm-4.col-xs-6
            img.full-width(src="img/modules-6.jpg")
          .col-md-4.col-sm-4.col-xs-6
            img.full-width(src="img/modules-7.jpg")
          .col-md-4.col-sm-4.col-xs-6
            img.full-width(src="img/modules-8.jpg")
          .col-md-4.col-sm-4.col-xs-6
            img.full-width(src="img/modules-9.jpg")
      .container.text-container
        h1 Don't waste, donate.
        p
          | When you finally decide to upgrade a module, there's no need for you to throw away the entire device, in fact, there's no need for you to throw away anything. One Education will facilitate module donations and ensure that your pre-loved modules go to someone in need - not into a landfill.
    
    section.mission-not-market
      #a-mission.parallax-container
        img.invisible.full-width(src="img/mission-not-market.jpg")
      .container.text-container
        h1
          | A mission.
          br
          | Not a market.
        p
          | We are a social enterprise. Our mission is not to bolster returns to shareholders - we have none! Our mission is to prevent the digital divide before it forms. That's why we created a computer that is universal. Every Infinity and module sale contributes to the distribution of Infinity computers to schools and communities around the world who would otherwise go without.
      center
        a.btn.btn-lg.btn-success(href="/our-story.html", type="button") Learn About One Education
    
    include _footer.jade
