
.over-image-pink {
	display: inline;
	margin: auto;
	padding: 10px;
	margin-bottom: 10px;
	color: #fff !important;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
	background: #E33066;
}
.over-image-yellow {
	display: inline;
	margin: auto;
	padding: 10px;
	margin-bottom: 10px;
	color: #fff !important;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
	background: #454A9C;
}
.text-container p {
	padding: 15px;
}
.navbar {
	margin-bottom: 0 !important;
}
.introducing .background-image {
	background-image: url('../img/header.jpg');
}
.kid-friendly .background-image {
	background-image: url('../img/dont-worry-be-happy.jpg');
}
.our-story .background-image {
	background-image: url('../img/mission-not-market.jpg');
}
.background-image {
    background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
    display: table;
    height: 900px;
	width: 100%;
}
.overlay-container {
    display: table-cell;
	margin: auto;
    vertical-align: middle;
}
.overlay-container-left {
    display: table-cell;
    vertical-align: middle;
	text-align: left;
}
.container h1 {
	font-size: 55px !important;
	margin: 30px 0 0 0 !important;
}
.text-left p {
	font-size: 19px !important;
	padding: 10px 0;
}
.text-container p {
	font-size: 19px !important;
}
.specifications h2 {
	font-size: 20px !important;
	margin: 10px 0 0 0 !important;
	padding-bottom: 0 !important;
}
.specifications .text-container .col-md-6 {
	padding: 15px;
	height: 150px;
}
.specifications p {
	font-size: 15px !important;
	padding: 0;
}
.overlay-small-left {
	max-width: 400px; 
	margin-left: 100px;
}
.overlay-small-right {
	float: right;
	max-width: 400px; 
	margin-right: 150px;
}
.quantity-title {
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 25px;
}
.reserve-title {
	display: inline;
	float: left;
	max-width:500px !important;
}
@media (max-width: 1360px) {
	.background-image {
		height: 600px;
	}
}
@media (max-width: 992px) {
	.background-image {
		background-image: none !important;
		height: auto;
	}
	.overlay-container {
		display: block;
	}
	h1.over-image-pink {
		color: #E33066 !important;
	}
	.over-image-pink,
	.over-image-yellow {
		display: block;
		margin: auto;
		padding: 10px;
		margin-bottom: 10px;
		color: #000 !important;
		-webkit-box-decoration-break: clone;
		-ms-box-decoration-break: clone;
		-o-box-decoration-break: clone;
		box-decoration-break: clone;
		background: transparent;
		text-align: center;
	}
	.container h1 {
		font-size: 55px !important;
		margin: 10px 0 0 0 !important;
	}
	.container h2 {
		font-size: 45px !important;	
	}
	.text-left {
		text-align: center !important;
	}
	.overlay-small-left h1 {
		color: #454A9C !important;
	}
	.overlay-small-left {
		max-width: 750px;
		display: block;
		margin-right: auto !important;
		margin-left: auto !important;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0;
	}
	.overlay-small-right {
		max-width: 750px;
		display: block;
		margin: auto !important;
		padding-left: 15px;
		padding-right: 15px;
		float: none;
	}
	.specifications h2 {
		font-size: 22px !important;
	}
	.specifications .text-container {
		height: 400px;	
	}
	#cart-form-input * {
		display: inline;
	}
	#cart-form-input .quantity-title {
		margin-top: 20px;
	}
	#cart-form-input .shopify-quantity {
		margin-top: 10px;
	}
	#cart-form-input span {
		margin-top: 8px !important;
		padding: 8px;
	}
	.reserve-title {
	  margin: 10px auto 0 auto;
	  float: none;
	}
	#quantity2 {
		display: block;
		float: none;
		margin: 15px auto;
	}
}
#cart-form-input {
	float: right;
}
#quantity2 {
	display: inline;
}