@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=9e8cef5c-8170-4604-af95-86e7abfcd523");
.emerald,
.green {
  color: #52bc87 !important; }

.yellow {
  color: #ffce32 !important; }

.blue {
  color: #429dd0 !important; }

.cerise-red,
.pink {
  color: #e33066 !important; }

.purple {
  color: #9f4896 !important; }

.victoria {
  color: #454a9c !important; }

.grey {
  color: #464749 !important; }

@font-face {
  font-family: "MuseoSansW01-Rounded100_942388";
  src: url("../fonts/dea56274-05bd-45fa-bfb4-87d82af24dd5.eot?#iefix");
  src: url("../fonts/dea56274-05bd-45fa-bfb4-87d82af24dd5.eot?#iefix") format("eot"), url("../fonts/a83c04f0-6bdc-42cd-b8b6-14605c7c72d0.woff2") format("woff2"), url("../fonts/2c672e2c-eaf8-403b-9c7e-26043e6b3dff.woff") format("woff"), url("../fonts/4601af7e-e576-423a-b4a8-0c8f39017222.ttf") format("truetype"), url("../fonts/10e06c49-3717-4ee8-b923-904b894eb999.svg#10e06c49-3717-4ee8-b923-904b894eb999") format("svg"); }

@font-face {
  font-family: "MuseoSansW01-Rounded300";
  src: url("../fonts/b306383f-db79-42c0-92db-e0759aff6588.eot?#iefix");
  src: url("../fonts/b306383f-db79-42c0-92db-e0759aff6588.eot?#iefix") format("eot"), url("../fonts/66c80723-12ac-4a96-8303-d0eee61c32b1.woff2") format("woff2"), url("../fonts/36d5ed39-d8cd-4558-a597-0f47565cdd0e.woff") format("woff"), url("../fonts/5b6ee6f2-5a3c-4f51-a192-9d34b20b76d7.ttf") format("truetype"), url("../fonts/b2dea16e-a12b-40b2-ba49-d6f96411788b.svg#b2dea16e-a12b-40b2-ba49-d6f96411788b") format("svg"); }

@font-face {
  font-family: "MuseoSansW01-Rounded500";
  src: url("../fonts/bce92934-3424-455e-a932-b365b0acb769.eot?#iefix");
  src: url("../fonts/bce92934-3424-455e-a932-b365b0acb769.eot?#iefix") format("eot"), url("../fonts/724577a4-2ce2-4c97-94cb-9a622b9ab1c3.woff2") format("woff2"), url("../fonts/231821bd-27ad-42c9-9c65-a4d8465cef7a.woff") format("woff"), url("../fonts/f95819e8-3fc1-420e-af97-c57b8f3b41fa.ttf") format("truetype"), url("../fonts/1705375f-d9b2-47de-859d-f9267a536656.svg#1705375f-d9b2-47de-859d-f9267a536656") format("svg"); }

* {
  font-family: 'MuseoSansW01-Rounded100_942388';
  text-rendering: optimizeLegibility;
  font-weight: 300; }

body {
  font-family: 'MuseoSansW01-Rounded100_942388';
  text-rendering: optimizeLegibility;
  font-weight: 300;
  overflow-x: hidden !important;
  background: #ffffff !important;
  border: none;
  color: #464749; }

/* Start Footer */
footer {
  background: #429dd0;
  line-height: 2.0; }
  footer a:hover {
    color: #ffffff;
    text-decoration: none;
    opacity: .8; }
  footer .footer-logo {
    padding: 35px 0 0 0;
    margin: 40px auto;
    display: block; }
    footer .footer-logo img {
      display: block;
      margin: auto;
      max-width: 300px; }
  footer .social-nav a,
  footer .footer-nav a {
    color: #ffffff; }
    footer .social-nav a .fa,
    footer .footer-nav a .fa {
      color: #ffffff; }
  footer .footer-nav {
    margin-top: 35px;
    list-style: none;
    font-size: 20px;
    z-index: 100; }
  footer .social-nav a {
    font-size: 30px; }
  footer .social-nav li {
    list-style: none;
    display: inline;
    padding: 0 25px; }
  footer .container-fluid {
    max-width: 1600px; }

/* End Footer */
/* Start Global */
h1 {
  margin: 35px 0 !important;
  color: #464749 !important;
  font-size: 60px !important; }

h2 {
  margin: 0 !important;
  color: #464749 !important;
  font-size: 45px !important; }

p {
  font-size: 26px; }

section {
  padding-bottom: 125px;
  text-align: center; }

.full-width {
  width: 100%; }

.text-container,
.container p {
  max-width: 990px;
  margin: auto; }

.feature {
  padding: 25px 0; }

.feature-width {
  max-width: 1520px;
  margin: auto; }

.img-center {
  display: block;
  width: 100%;
  max-width: 550px;
  margin: auto; }

.spacer {
  margin: 80px 0; }

.lead {
  text-align: center;
  padding: 0;
  font-size: 28px !important;
  font-weight: 100 !important; }

.parallax-container {
  max-height: 800px;
  overflow: hidden;
  background-size: 100% auto;
  background-repeat: no-repeat; }

.parallax-container img {
  max-width: 100%; }

/* End Global */
/* Start Navbar */
.navbar-blue {
  border-radius: 0 !important;
  background-color: #429dd0 !important;
  border-color: #429dd0;
  color: #ffffff;
  padding: 5px 0; }

.nav > li > a:hover, .nav > li > a:focus {
  color: #ffffff;
  opacity: .8;
  background-color: transparent !important; }

.nav > li > a {
  color: #ffffff;
  font-size: 18px; }

.nav li {
  padding: 0 20px; }
  .nav li i {
    color: #ffffff; }

.navbar-brand {
  padding: 0px !important;
  margin-left: 20px !important; }
  .navbar-brand img {
    width: 225px; }

.navbar .navbar-collapse {
  text-align: center; }

.logo {
  width: 120px; }

.icon-bar {
  background: #ffffff !important; }

/* End Navbar */
/* Start Emailbar */
#emailbar {
  display: none;
  background: #ffffff;
  border: none;
  box-shadow: 0 0 5px #ccc; }
  #emailbar .form-group {
    padding-top: 7px; }
  #emailbar h3 {
    margin-top: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px; }
  #emailbar button {
    float: right;
    margin: 10px; }
  #emailbar .form-control {
    text-transform: uppercase;
    color: #429dd0 !important; }

.btn {
  text-transform: uppercase; }

.btn-mail-list {
  margin: 25px; }

#email-form-success {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px; }
  #email-form-success .fa {
    padding: 0 10px;
    font-size: 22px;
    cursor: pointer; }

.modal-header p {
  text-transform: uppercase;
  font-size: 18px; }

/* End Emailbar */
/* Start Signup Confirmation */
.thanks {
  padding: 100px 0; }
  .thanks .img-infinity {
    max-width: 250px; }
  .thanks .share .fa {
    font-size: 50px; }
    .thanks .share .fa:hover {
      color: #429dd0;
      opacity: .2; }

h4 .share .fa {
  font-size: 20px;
  color: #e33066 !important;
  padding: 5px; }
  h4 .share .fa:hover {
    opacity: .8; }

.all-you-need h1 {
  -webkit-transform: translateZ(-1px);
  -moz-transform: translateZ(-1px);
  -o-transform: translateZ(-1px);
  transform: translateZ(-1px); }

.shopify-quantity {
  margin: 0 10px;
  max-width: 100px !important; }

#cart-form {
  margin: auto; }

.inline {
  display: inline; }

#cart-form-input {
  float: right; }

.quantity-title {
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 25px; }

.reserve-title {
  display: inline;
  float: left;
  max-width: 500px !important; }

.modal-header,
.modal-header p {
  color: #52bc87;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important; }

/* End Signup Confirmation */
/* Modals */
.modal textarea {
  border: 1px solid #429dd0;
  resize: none;
  margin-bottom: 15px; }

.modal .modal-header p {
  opacity: 1;
  visibility: visible;
  font-size: 20px; }

.modal .modal-header .fb-twitter {
  display: block;
  margin: auto;
  max-width: 150px;
  padding-top: 10px; }

.modal .modal-header .facebook-comment {
  display: block;
  margin: auto;
  max-width: 100%;
  padding-top: 10px; }

.modal .modal-body {
  padding-bottom: 0; }
  .modal .modal-body p {
    font-size: 16px;
    font-weight: 300;
    font-family: 'MuseoSansW01-Rounded300';
    margin: 0 35px;
    opacity: 1;
    visibility: visible; }
  .modal .modal-body textarea {
    text-align: center;
    margin-top: 15px; }

.modal a.btn {
  margin-top: 25px;
  max-width: 230px; }

.modal.vote-modal,
.modal.vote-facebook-modal {
  text-align: center; }

.modal .btn-vote-twitter {
  color: #ffffff;
  background-color: #4099FF; }

.modal .btn-vote-facebook {
  color: #ffffff;
  background-color: #3b5998; }

/* End Modals */
