nav.emailbar.navbar.navbar-default.navbar-fixed-top(style='display:none;')
  div.container
    h3.blue Reserve now, pay later. Only $249 - $299 for the first 1,000 early birds.
    button.btn-specs1.btn.btn-primary.navbar-btn Specs
    button.btn-reserve1.btn.btn-danger.navbar-btn Reserve
  h4(style='display:none;').emerald.email-form.success
    strong.blue Tell your friends:
      a(href='https://www.facebook.com/sharer/sharer.php?u=https://one-education.org/infinity').share
        i.fa.fa-facebook
      a(href='https://twitter.com/intent/tweet?url=https://one-education.org/infinity&text=Check%20out%20the%20awesome%20%40One_Education%20Infinity%20-%20a%20modular%20computer%20for%20kids!&hashtags=modular,kids').share
        i.fa.fa-twitter
      a(href='https://www.linkedin.com/shareArticle?mini=true&url=https://one-education.org/infinity&summary=Check%20out%20the%20awesome%20One%20Education%20Infinity%20-%20a%20modular%20computer%20for%20kids!%0A&source=one-education').share
        i.fa.fa-linkedin
      a(href='https://plus.google.com/share?url=https://one-education.org/infinity').share
        i.fa.fa-google-plus
      a(href='https://www.reddit.com/submit?url=https://one-education.org/infinity').share
        i.fa.fa-reddit

include modals/_newsletter.jade
include modals/_reserve.jade
include modals/_vote.jade  
include modals/_vote-facebook.jade
