nav#navbar.navbar.navbar-blue.navbar-default(role="navigation")
  .container
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="https://one-education.org/")
        img.logo(src="img/logo-white.png")
    .collapse.navbar-right.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="infinity") Infinity
        li
          a(href="our-story") Our Story
        li
          a(href="http://support.one-education.org/") Support
