section.reserve-now-bottom
  .container
    .row
      .col-md-6
        img#back-exploded.full-width(src="img/side-ports-cropped.jpg")
      .col-md-6.text-left
        h1.emerald Reserve now to receive pre-launch pricing.
        h3 $249 - $299 USD
          br
          br
          small
            i You will not be charged for reserving.
              br
              | Does not include tax or shipping fees.
              br 
              | Actual price dependant on module selection
        button.btn.btn-reserve2.btn-danger.btn-lg.navbar-btn Reserve
        button.btn.btn-newsletter.btn-newsletter2.btn-primary.btn-lg.navbar-btn Stay up to date
