section.reserve-now
  .container
    .row
      .col-md-6
        img#back-exploded.full-width(src="img/open-front.jpg", style="padding-top: 15px;")
      .col-md-6.text-left
        h1.emerald Reserve now, pay later.
        p Be among the first 1,000 backers to help us bring this project to children everywhere and receive exclusive pre-launch pricing.
        h3 $249 - $299 USD
          br
          small
            i You will not be charged for reserving.
              br 
              | Does not include tax or shipping fees.
              br 
              | Actual price dependant on module selection
        button.btn.btn-reserve2.btn-danger.btn-lg.navbar-btn Reserve
        button.btn.btn-newsletter.btn-newsletter1.btn-primary.btn-lg.navbar-btn Stay up to date
