doctype html
html
  head
    include _meta.jade
    link(rel='stylesheet', href='css/modular.css')
  body
    include _navigation.jade
    include _emailbar.jade
    include _reserve-top.jade
    
    section.introducing
      img.full-width.visible-xs.visible-sm(src="img/header.jpg")
      .background-image
        .container.text-container.overlay-container
          h1.over-image-pink
            span An infinitely expandable experience.
          br.hidden-xs.hidden-sm
          br.hidden-xs.hidden-sm
          h2.over-image-pink
            span A future oriented device.
    
    section.modular
      .container
        .row
          .col-md-6
            img#back-exploded.full-width(src="img/tablet-back-exploded.jpg")
          .col-md-6.text-left
            h1.emerald Modular
            p With four modules forming its core parts, the Infinity is infinitely expandable and obsolete-proof. You can replace or upgrade modules individually at a fraction of the cost of the entire device.
            p You can also create a module tailored to your needs by connecting a Raspberry Pi or Chromebit to the Infinity through the USB-C ports.
            p The Infinity is both a laptop and a tablet combined. Detach the screen, and start interacting with the tablet. With a built-in accelerometer, magnetometer, and gyroscope, you can use the Infinity in a variety of classroom exercises.
    
    section.universal
      .container
        .row
          .col-md-6.text-left
            h1.pink Revolutionary &#38; Universal
            p The Infinity provides an innovative style of interacting with technology. The Infinity is a system architecture, not a particular device. Its modularity allows the tablet to transform into a laptop. A given Infinity may have different screen, battery, and even core modules installed over its lifetime. You are in control of what gets upgraded, and when.
            p Much of the world can't afford to upgrade even the cheapest phone every couple of years, but modular gadgets can turn upgrades from a major expense to a minor tweak.
          .col-md-6
            img#back-exploded.full-width(src="img/tablet-front-exploded.jpg")
    
    include _specs.jade
                  
    .clearfix.clearfix-100
    
    section.our-story
      img.full-width.visible-xs.visible-sm(src="img/mission-not-market.jpg")
      .background-image
        .container.text-container.overlay-container-left
          .overlay-small-right
            h1.over-image-pink
              span Our Story
            br
            br
            p.over-image-pink
              span A child born today without access to technology in their formative years risks missing out on social and economic opportunities later in life. Over an entire childhood, the cost of adopting technology and keeping it up to date is so high, that it prohibits ubiquitous access to technology, and creates a digital divide.
            br
            br
            p.over-image-pink
              span In our travels we stumbled upon a challenge that was too difficult to ignore, and impossible to resist: creating a computer that helps to eradicate the digital divide.
    
    include _reserve-bottom.jade
    include _footer.jade
    
    script(src='js/viewportchecker.js')
    script(src='js/animation.js')
