$green: #52bc87;
$yellow: #ffce32;
$blue: #429dd0;
$pink: #e33066;
$purple: #9f4896;
$darkblue: #454a9c;
$gray: #464749;
$white: #ffffff;

.emerald,
.green {
	color: $green !important;
}

.yellow {
	color: $yellow !important;
}
.blue {
	color: $blue !important;
}
.cerise-red,
.pink {
	color: $pink !important;
}
.purple {
	color: $purple !important;
}
.victoria {
	color: $darkblue !important;
}
.grey {
	color: $gray !important;
}
